.hotpink{
    color: hotpink;
    font-size: 30px;
}
.magenta{
    color: magenta;
    font-size: 30px;
}
.photo{
    width: 500px;
    flex: auto;
}
li{
    font-weight: bold;
    font-size: 20px;
    color: violet;
}
span{
    font-size: 17px;
    font-weight: lighter;
    color: black;
}
